<a href="https://colab.research.google.com/github/aditya112346/Assignment-Zeotap-/blob/main/Aditya_Garg_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

# Load the datasets
transactions_path = '/content/Transactions.csv'
products_path = '/content/Products.csv'
customers_path = '/content/Customers.csv'

transactions = pd.read_csv(transactions_path)
products = pd.read_csv(products_path)
customers = pd.read_csv(customers_path)

# Display the first few rows of each dataset
transactions_head = transactions.head()
products_head = products.head()
customers_head = customers.head()

transactions_info = transactions.info()
products_info = products.info()
customers_info = customers.info()

transactions_head, products_head, customers_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   object
 1   CustomerID       1000 non-null   object
 2   ProductID        1000 non-null   object
 3   TransactionDate  1000 non-null   object
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   Price            1000 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    100 non-null    object
 1   ProductName  100 non-null    object
 2   Category     100 non-null    object
 3   Price        100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    200 non-null    object
 1   CustomerName  200 non-null    object
 2   Region        200 non-null    object
 3   SignupDate    200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

(  TransactionID CustomerID ProductID      TransactionDate  Quantity  \
 0        T00001      C0199      P067  2024-08-25 12:38:23         1
 1        T00112      C0146      P067  2024-05-27 22:23:54         1
 2        T00166      C0127      P067  2024-04-25 07:38:55         1
 3        T00272      C0087      P067  2024-03-26 22:55:37         2
 4        T00363      C0070      P067  2024-03-21 15:10:10         3

    TotalValue   Price
 0      300.68  300.68
 1      300.68  300.68
 2      300.68  300.68
 3      601.36  300.68
 4      902.04  300.68  ,
   ProductID              ProductName     Category   Price
 0      P001     ActiveWear Biography        Books  169.30
 1      P002    ActiveWear Smartwatch  Electronics  346.30
 2      P003  ComfortLiving Biography        Books   44.12
 3      P004            BookWorld Rug   Home Decor   95.69
 4      P005          TechPro T-Shirt     Clothing  429.31,
   CustomerID        CustomerName         Region  SignupDate
 0      C0001    Lawrence Carroll  South America  2022-07-10
 1      C0002      Elizabeth Lutz           Asia  2022-02-13
 2      C0003      Michael Rivera  South America  2024-03-07
 3      C0004  Kathleen Rodriguez  South America  2022-10-09
 4      C0005         Laura Weber           Asia  2022-08-15)

EDA

In [5]:
# Convert date columns to datetime for proper analysis
transactions['TransactionDate'] = pd.to_datetime(transactions['TransactionDate'])
customers['SignupDate'] = pd.to_datetime(customers['SignupDate'])

# Merging datasets for comprehensive analysis
merged_data = transactions.merge(products, on='ProductID').merge(customers, on='CustomerID')

# Summary statistics
transactions_summary = transactions.describe(include='all')
products_summary = products.describe(include='all')
customers_summary = customers.describe(include='all')

# Aggregations for insights
# 1. Top 5 products by total sales value
top_products = merged_data.groupby('ProductName')['TotalValue'].sum().sort_values(ascending=False).head(5)

# 2. Sales distribution by region
sales_by_region = merged_data.groupby('Region')['TotalValue'].sum()

# 3. Category-wise sales contribution
category_sales = merged_data.groupby('Category')['TotalValue'].sum()

# 4. Monthly sales trend
merged_data['Month'] = merged_data['TransactionDate'].dt.to_period('M')
monthly_sales_trend = merged_data.groupby('Month')['TotalValue'].sum()

# 5. Top regions by customer count
customer_count_by_region = customers['Region'].value_counts()

top_products, sales_by_region, category_sales, monthly_sales_trend, customer_count_by_region

(ProductName
 ActiveWear Smartwatch    39096.97
 SoundWave Headphones     25211.64
 SoundWave Novel          24507.90
 ActiveWear Jacket        22712.56
 ActiveWear Rug           22314.43
 Name: TotalValue, dtype: float64,
 Region
 Asia             152074.97
 Europe           166254.63
 North America    152313.40
 South America    219352.56
 Name: TotalValue, dtype: float64,
 Category
 Books          192147.47
 Clothing       166170.66
 Electronics    180783.50
 Home Decor     150893.93
 Name: TotalValue, dtype: float64,
 Month
 2023-12     3769.52
 2024-01    66376.39
 2024-02    51459.27
 2024-03    47828.73
 2024-04    57519.06
 2024-05    64527.74
 2024-06    48771.18
 2024-07    71366.39
 2024-08    63436.74
 2024-09    70603.75
 2024-10    47063.22
 2024-11    38224.37
 2024-12    59049.20
 Freq: M, Name: TotalValue, dtype: float64,
 Region
 South America    59
 Europe           50
 North America    46
 Asia             45
 Name: count, dtype: int64)